.main-container {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #CCCCCC;
}

body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

header{
    background-image: url(../img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 10rem;
}

h1{
    text-shadow: 5px 5px 5px #CCCCCC;
}

h4{
    text-shadow: 2px 2px 2px #CCCCCC;
}